*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
}
.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
}
.container .card{
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    border-radius: 40px;
    background: #ebf5fc;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
                6px 6px 20px rgba(0,0,0,0.1);
}
.container .card:hover{
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
                inset 6px 6px 20px rgba(0,0,0,0.5);
}
.container .card .imgBx{
    position: relative;
    text-align: center;
}
.container .card .imgBx img{
    max-width: 120px;
}
.container .card .contenBox{
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.container .card .contenBox h2{
    color: #32a3b1;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}
.container .card .contenBox p{
    color: #32a3b1;
}
.container .card .contenBox a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #32a3b1;
    font-size: 12px;
    text-decoration: none;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
                4px 4px 15px rgba(0,0,0,0.1);
}
.container .card .contenBox a:hover{
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
                inset 4px 4px 10px rgba(0,0,0,0.1);
}
.container .card:hover .imgBx,
.container .card:hover .contenBox{
    transform: scale(0.98);
}